<div class="first-chat-window text-center">
  <div class="display">
    {{displayMessage}}
  </div>
  <textarea title="message" rows="10" cols="30"  #f></textarea>
  <div class="text-center">
    <button (click)="postAll(f)">Post</button>
    <button (click)="postSecond(f)">Second</button>
    <button (click)="postThird(f)">Third</button>
    <button (click)="readMessages($event.target.value)">
    <span *ngIf="!readPrivate; else readPublic">
        Private ({{privateMessages.length}})
      </span>
      <ng-template #readPublic>
        <span>
        Read public
      </span>
      </ng-template>
    </button>
  </div>
</div>

